<% layout('layout') -%>
<script type="text/javascript">
<% if(qs.id){ %>
var globalvar = 1;
<% }else { %>

var globalvar = 0;
<% } %>

        // create Node options
        function initfunction(node) {
            console.log(node.length);
            var select = document.getElementById("sources");
            for (var i = 0, l = node.length; i < l; i++) {
                var option = node[i];
                var el = document.createElement("option");
               
                el.textContent = option;
                el.value = option;
                select.appendChild(el);
            }
            <% if(qs.id){ %>
                $('#sources').val("<%=qs.id%>");
                
            <% } %>
        }

        

        // Check if have req.quety
        window.onload = function () {

            //-- create options

            var NodeID = [];
            var lat = [];
            var lng = [];
            var nodeid = [];
            var phone = [];
            var Nodeinfo;
            $.ajax({
                type: "GET",
                url: "/getinfo?list=1&status=1", // <-- Here
                dataType: "json",
                success: function(data) {

                    myVariable = data;
                    count = Object.keys(myVariable).length;
                    // console.log(count);
                    for (var i = 0; i < count; i++) {
                        NodeID.push(Number(myVariable[i].node_id));
                    }

                    initfunction(NodeID);
                    console.log(NodeID);
                }

            });

            //---------------------------------------
                var count;
                var co = [];
                var dust = [];
                var gas = [];
                var temp = [];
                var xaxis = [];
            if(globalvar==1){
              
                // alert("succes");
                globalvar = 0;
                // $("div.id_100 select").val("<%=qs.id%>");
                $('#sources').val("<%=qs.id%>");
                $.ajax({
                    type: "GET",
                    url: "/getdata?id=" + <%=qs.id%>, 
                    dataType: "json",
                    success: function(data) {
                        myVariable = data;
                        count = Object.keys(myVariable).length;
                        // console.log(count);
                        console.log(myVariable[0].data.co);
                        for (var i = 0; i < count; i++) {
                            co.push(Number(myVariable[i].data.co));
                            dust.push(Number(myVariable[i].data.dust));
                            temp.push(Number(myVariable[i].data.temp));
                            gas.push(Number(myVariable[i].data.gas));
                            xaxis.push(Number(i + 1));
                        }
                        drowchart();
                    }
                });


                $.ajax({
                    type: "GET",
                    url: "/getinfo?id=" + <%=qs.id%>, 
                    dataType: "json",
                    success: function(data) {
                        Nodeinfo = data;
                       
                        // console.log(count);
                       
                      
                            nodeid.push(Number(Nodeinfo.node_id));
                            phone.push(Number(Nodeinfo.phone));
                            lat.push(Number(Nodeinfo.location.lat));
                            lng.push(Number(Nodeinfo.location.lng));
                           
                      
                    InsertInfo(nodeid,phone,lat,lng);
                    }
                });
           
                
            }

            function InsertInfo(x,y,z,t){
                document.getElementById("NodeInfomation").innerHTML = '<i style="color:red">' + "Node_Id: " +'</i>' + x + '<br/>' +
                '<i style="color:red">' + "Location_lat: " + '</i>' +  z + '<br/>' +
                '<i style="color:red">' + "Location_lng: " + '</i>' +  t + '<br/>' +
                '<i style="color:red">' + "Phone: " + '</i>' +  y + '<br/>'
            } 

            function drowchart() {
                // alert(xaxis);
                $(function() {

                    $('#chart').highcharts({
                        title: {
                            text: 'Node: '+ <%=qs.id%>,
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: xaxis
                        },
                        yAxis: {
                            title: {
                                text: 'Temperature (째C)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: '째C'
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'CO',
                            data: co
                        }, {
                            name: 'TEMP',
                            data: temp
                        }, {
                            name: 'DUST',
                            data: dust
                        }, {
                            name: 'GAS',
                            data: gas
                        }]
                    });
                });
            }
        }

        //--------------------------------------
        $(function(){
            $("#sources").on("change",function(){
                var e = document.getElementById("sources");
                var strUser = e.options[e.selectedIndex].value;
                var myVariable,Nodeinfo;
                var count;
                var co = [];
                var dust = [];
                var gas = [];
                var temp = [];
                var xaxis = [];
                var lat = [];
                var lng = [];
                var nodeid = [];
                var phone = [];

            // check if have req.query
           
               

            // No req.query
          
                $.ajax({
                    type: "GET",
                    url: "/getdata?id=" + strUser, 
                    dataType: "json",
                    success: function(data) {
                        myVariable = data;
                        count = Object.keys(myVariable).length;
                        // console.log(count);
                        console.log(myVariable[0].data.co);
                        for (var i = 0; i < count; i++) {
                            co.push(Number(myVariable[i].data.co));
                            dust.push(Number(myVariable[i].data.dust));
                            temp.push(Number(myVariable[i].data.temp));
                            gas.push(Number(myVariable[i].data.gas));
                            xaxis.push(Number(i + 1));
                        }
                    drowchart();
                    }
                });

                //Get Info Node

                $.ajax({
                    type: "GET",
                    url: "/getinfo?id=" + strUser, 
                    dataType: "json",
                    success: function(data) {
                        Nodeinfo = data;
                       
                        // console.log(count);
                       
                      
                            nodeid.push(Number(Nodeinfo.node_id));
                            phone.push(Number(Nodeinfo.phone));
                            lat.push(Number(Nodeinfo.location.lat));
                            lng.push(Number(Nodeinfo.location.lng));
                           
                      
                    InsertInfo(nodeid,phone,lat,lng);
                    }
                });

            //---Function Insert Info
            function InsertInfo(x,y,z,t){
                document.getElementById("NodeInfomation").innerHTML = '<i style="color:red">' + "Node_Id: " +'</i>' + x + '<br/>' +
                '<i style="color:red">' + "Location_lat: " + '</i>' +  z + '<br/>' +
                '<i style="color:red">' + "Location_lng: " + '</i>' +  t + '<br/>' +
                '<i style="color:red">' + "Phone: " + '</i>' +  y + '<br/>'
            }

            
            function drowchart() {
                // alert(xaxis);
                $(function() {

                    $('#chart').highcharts({
                        title: {
                            text: 'Node: ' + strUser,
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: xaxis
                        },
                        yAxis: {
                            title: {
                                text: 'Temperature (째C)'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        tooltip: {
                            valueSuffix: '째C'
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle',
                            borderWidth: 0
                        },
                        series: [{
                            name: 'CO',
                            data: co
                        }, {
                            name: 'TEMP',
                            data: temp
                        }, {
                            name: 'DUST',
                            data: dust
                        }, {
                            name: 'GAS',
                            data: gas
                        }]
                    });
                });
            }
            });
        });
        
</script>
    <style type="text/css">
        select option {
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        select {
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }
    </style>



    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <link rel="stylesheet" href="css/styleGraph.css">
   <!--  <script type="text/javascript">
        
    </script> -->


    <div class="box123">
        <div class="top">
            <div class="left">NodeId:</div>
            <div class="id_100">
                <select name="sources" id="sources">
                    <option value="">Chose Node ID</option>
                </select>
            </div>
        </div>
        
   
    
        <div class="bot">
        <div class="bleft"><!-- <p style="color: red">Node Info: </p> -->
            <span id="NodeInfomation"></span>
        </div>
            <div id="chart" class="bright"></div>
        </div>
    </div>

    



    <script src="js/Graph.js"></script>
   <!--  <script type="text/javascript">

        
    </script>
 -->